* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Elementi header */

header{
    background-color: #255ee9;
    padding: 15px;
    background-image: url("./img/jumbo.png");
    background-size: cover;
}

.container_header{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content:space-between;
    background-color:#255ee9;
}

.logo{
    flex-grow: 1;
    padding: 10px;
}

nav{
    flex-grow: 3;
    padding: 15px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.login{
    flex-grow: 1;
    padding: 10px;
    text-align: end;
}

.login button{
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
}

/* Padding di default su ogni sezione */

main section{
    padding: 40px;
}

/* Header - Prima sezione */

.first_container{
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    flex-basis: 720px;
    height: 320px;
    padding: 50px;
    text-align: center;
}

.slide h1{
    color: #fff;
    font-size: 40px;
    line-height: 250%;
}

.slide p{
    color: #fff;
    font-size: 16px;
    line-height: 150%;
}

.slide button{
    margin: 15px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 15px;
}

#blackbutton{
    background-color: #23272a;
    color: white;
    border-color: #23272a;
}

/* Seconda sezione main */
.second_container{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.box1{
    flex-basis: 45%;
    height: 400px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.box2{
    flex-basis: 25%;
    height: 400px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

/* Terza sezione main */

.third_container{
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}

.box4{
    flex-basis: 45%;
    height: 400px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.box3{
    flex-basis: 25%;
    height: 400px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

/* Quarta sezione main */

.fourth_container{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.box5{
    flex-basis: 45%;
    height: 400px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.box6{
    flex-basis: 25%;
    height: 400px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

/* Quinta sezione main */

.fifth_container{
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}

.slide_2{
    flex-basis: 70%;
    height: 700px;
    background-color: #228b22;
    border: 2px dashed black;
}

/* Sesta sezione main */

.sixth_container{
    display: flex;
    justify-content: center;
    background-color: #23272a;
    padding: 10px 10px 30px 10px;
}

.box7{
    flex-basis: 300px;
    height: 500px;
    background-color: #f08080;
    border: 2px dashed black;
}

.box8{
    flex-basis: 175px;
    height: 500px;
    background-color: #20b2aa;
    border: 2px dashed white;
}

/* Footer con logo e bottone ai lati*/

footer{
    background-color: #23272a;
    padding: 20px 20px 0px 20px;
    border-top: 1px solid white;
}

.container_footer{
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
    height: 70px;
    justify-content:space-between;
    background-color:#7fffd4;
}

footer .logo{
    border: 2px dashed black;
    padding: 5px;
    background-color: #ffb6c1;
    flex-grow: 0;
    align-self: center;
}

footer .button{
    border: 2px dashed black;
    padding: 5px;
    background-color: #ffb6c1;
    flex-grow: 0;
    align-self: center;
}